<?xml version="1.0" ?>

<robot
  name="mounting_kit">
  <link
    name="wrist_mount_link">
    <inertial>
      <origin
        xyz="-0.012066 5.0299E-16 0.0025225"
        rpy="0 0 0" />
      <mass
        value="0.14163" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/wrist_mount_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/wrist_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="coupler_link">
    <inertial>
      <origin
        xyz="0.020779 0.015 0.0025483"
        rpy="0 0 0" />
      <mass
        value="0.0054596" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/coupler_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/coupler_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bracket_extender"
    type="fixed">
    <origin
      xyz="-0.055 0.015 0.02"
      rpy="-1.5708 3.4694E-15 -3.1416" />
    <parent
      link="wrist_mount_link" />
    <child
      link="coupler_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="inlet_holder">
    <inertial>
      <origin
        xyz="0.052436 0.0155 -0.018064"
        rpy="0 0 0" />
      <mass
        value="0.0081991" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/inlet_holder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/inlet_holder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="coupler_extender"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 -1.5708 0" />
    <parent
      link="coupler_link" />
    <child
      link="inlet_holder" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="vacuum_inlet">
    <inertial>
      <origin
        xyz="5.6552E-15 0.044921 -7.4767E-15"
        rpy="0 0 0" />
      <mass
        value="1.9224E-05" />
      <inertia
        ixx="1.4712E-08"
        ixy="3.6556E-21"
        ixz="0"
        iyy="4.2321E-33"
        iyz="-4.7592E-21"
        izz="1.4712E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/vacuum_inlet.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_kit/meshes/vacuum_inlet.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vacuum_mount"
    type="fixed">
    <origin
      xyz="0.015 0.1 0.085357"
      rpy="-1.5708 -1.288E-08 -0.52693" />
    <parent
      link="inlet_holder" />
    <child
      link="vacuum_inlet" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
