<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5_double_fixture" >

<xacro:arg name="limited" default="true"/>

<!-- LOAD IN UR5 -->
<link name="world"/>

<!-- <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" /> -->
<xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>

<joint name="world_joint" type="fixed" >
  <parent link="world" />
  <child link = "base_link"/>
  <origin xyz= "0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
</joint>
<xacro:ur5_robot prefix="" joint_limited="true"/>

<!-- Robotiq Gripper -->
<xacro:include filename="$(find dual_gripper)/urdf/double_end_effector.urdf.xacro"/>

<joint name="ur5_to_double_fixture" type="fixed">
	<parent link="tool0" />
	<child link="ref"/>
	<origin xyz= "0 0 0" rpy="${-pi/2} ${pi} ${3*pi/2}"/>
</joint>


<gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
	  </plugin>
	</gazebo>

</robot>
