<launch>

  <arg name="sim_output" default="false" /> 

  <node name="grasp_planning" pkg="grasp_planning" type="grasp_planning" respawn="false" output="screen"/>

<!-- If no perception output available, broadcast sample rosbag -->
  <group if="$(arg sim_output)"> 
  	<!-- Currently Using ROSBAG for testing.-->
  	<node pkg="rosbag" type="play" name="player" args="--clock -l /home/rosi5/rect_tests/git/grasp_planning/src/algorithmic-depth-based-grasp-planner/rosbag/perception1.bag"/>
 </group>



</launch>
