<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fanuc_test">

  <xacro:include filename="$(find fanuc_moveit_config)/config/fanuc.srdf.xacro" />

  <xacro:include filename="$(find robotiq_85_moveit_config)/config/robotiq_85_gripper.srdf.xacro" />

  <xacro:fanuc/>

  <xacro:robotiq_85_gripper/>

  <disable_collisions link1="gripper_base_link" link2="base_link" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="link_1" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="link_2" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="link_3" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="link_4" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="link_5" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="link_6" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="tool0" reason="Never" />
  <disable_collisions link1="gripper_base_link" link2="base" reason="Never" />


</robot>