<?xml version="1.0" ?> 

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fanuc_test">

 <link name="world"/>

 <xacro:include filename="$(find fanuc_description)/urdf/fanuc.urdf.xacro"/>
 <xacro:fanuc_robot/>
  <joint name="world_fanuc" type="fixed">
	<parent link="world" />
	<child link="base_link" />
	<origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

 <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro"/>
 <xacro:robotiq_85_gripper prefix="" parent="tool0">
	<origin xyz="0 0 0" rpy="0 -1.5707 0"/>
 </xacro:robotiq_85_gripper>

 <xacro:include filename="$(find table_description)/urdf/table.urdf.xacro"/>
 <xacro:table prefix="" parent="world">
	<origin xyz="0 0 0" rpy="0 0 0"/>
 </xacro:table>

</robot>
