<?xml version="1.0"?>
<launch>
  <arg name="robot"/>
  <arg name="scene"/>
  <arg name="find_xacro" default="$(find xacro)/xacro "/>
  <arg name="find_urdf" default="$(eval find(arg('scene')) + '/urdf/scene.urdf.xacro')"/>
  <arg name="find_srdf" default="$(eval find(arg('scene')) + '/urdf/arm_hand.srdf.xacro')"/>
  <arg name="moveit_cfg" default="$(eval arg('robot') + '_moveit_config')"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <arg name="limited" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load environment URDF -->
   <param name="$(arg robot_description)" command="$(eval arg('find_xacro') + arg('find_urdf') )" />


  <!-- The semantic description that corresponds to the Robot URDF -->
  <param name="$(arg robot_description)_semantic" command="$(eval arg('find_xacro') + arg('find_srdf') )" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(eval find(arg('moveit_cfg')) + '/config/joint_limits.yaml')"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(eval find(arg('moveit_cfg')) + '/config/kinematics.yaml')"/>
  </group>
  
</launch>
