<?xml version="1.0" ?> 

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="suction_test">

 <link name="world"/>

 <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
 <xacro:ur5_robot prefix="" joint_limited="false"/>
  <joint name="world_ur5" type="fixed">
	<parent link="world" />
	<child link="base_link" />
	<origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

 <!-- Import ur5 ros2_control description -->
 <xacro:include filename="$(find ur5_moveit_config)/config/ur5.ros2_control.xacro" />

 <xacro:arg name="initial_positions_file" default="$(find ur5_moveit_config)/config/initial_positions.yaml" />
 <xacro:ur5_ros2_control name="UR5FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
 
 <xacro:include filename="$(find single_suction_description)/urdf/single_suction_gripper.urdf.xacro"/>
 <xacro:single_suction_gripper prefix="" parent="ee_link">
 <origin xyz="0 0 0" rpy="0 0 -1.5707"/>
 </xacro:single_suction_gripper>

 <xacro:include filename="$(find table_description)/urdf/table.urdf.xacro"/>
 <xacro:table prefix="" parent="world">
	<origin xyz="0 0 0" rpy="0 0 0"/>
 </xacro:table>
 
 <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro"/>
<xacro:arg name="use_nominal_extrinsics" default="true" />
<xacro:sensor_d415 parent="table_" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <!--origin xyz="-0.5 0.2 0.46" rpy="0 1.57079506 0"/-->
    <origin xyz="-0.58 0.225 0.65" rpy="3.14159 1.57079506 0"/>
</xacro:sensor_d415>

<link name="ee_palm" />​
​
<joint name="base_to_palm" type="fixed">​
    <parent link="suction_cup_link"/>​
    <child link="ee_palm"/>​
    <origin xyz="0 0 0" rpy="-3.14159 0 1.57079506"/>​
</joint>

</robot>
