<?xml version="1.0" ?> 

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_test">

 <link name="world"/>

 <xacro:include filename="$(find panda_description)/urdf/panda.urdf.xacro"/>
 <xacro:panda_robot/>
  <joint name="world_panda" type="fixed">
	<parent link="world" />
	<child link="panda_link0" />
	<origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

 <xacro:include filename="$(find table_description)/urdf/table.urdf.xacro"/>
 <xacro:table prefix="" parent="world">
	<origin xyz="0 0 0" rpy="0 0 0"/>
 </xacro:table>

</robot>